/* Reset et styles de base - Compatible Chrome & Firefox */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #00395f;
    min-height: 100vh;
    overflow-y: auto;
    min-height: 100vh;
    margin: 0px;
}


.icon {
    width: 5vw;
}

/*grille de personnages*/

.tableau {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(5, 0fr); /* ou repeat(6, 1fr) */
    gap: 0;
}

