<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League of Legends - Boutique de Champions</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/catalogue.css">
</head>
<body>
    <!-- Header -->
    <header>
        <button class="btnporo"><img class="poro" src="../img/poro.png" alt="imgPoro"></button>
        <div class="tbtn">
            <button class="btn">Filtres</button>
            <div class="search">
                <input type="text" id="searchInput" placeholder="Rechercher un champion..." class="search-input"/>
            </div>
            <button class="btn">Profil</button>
        </div>
    </header>
    <div class="tableau">
        
    </div>
</body>
</html>
