<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Poro Corp</title>
    <link rel="stylesheet" href="frontend/css/connexion.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="frontend/img/poro.png" alt="Poro Logo" class="login-logo">
            <h2>Identifiez-vous</h2>
            <form id="loginForm">
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" required placeholder="nom@exemple.com">
                </div>
                <div class="input-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" required placeholder="••••••••">
                </div>
                <button type="submit" class="btn-login">Se connecter</button>
            </form>
            <p class="footer-text">Nouveau chez Poro Corp ? <a href="register">Créer un compte</a></p>
        </div>
    </div>
    <script src="frontend/script/connexion.js"></script>
</body>
</html>