<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poro Corp</title>
    <link rel="stylesheet" href="/frontend/css/product.css">
</head>

<body>


    <div class="carousel-container">
    <div class="carousel-viewport">
        <div id="track" class="carousel-track">
            </div>
    </div>

    <button class="btn-nav prev" onclick="move(-1)">&#10094;</button>
    <button class="btn-nav next" onclick="move(1)">&#10095;</button>
</div>
<div class="achat">
    <img id="big-img" src="" alt="modify">
    <div class="info-champ">
        
    </div>
</div>
    <script src="/frontend/script/product.js"></script>
</body>

</html>